body {
	background-color: #290029;
	color: #FFFFFF;
    cursor: text;
	font-family: Lucida Console,CommPlus, MS LineDraw, Telix TT Terminal,monospace;
	font-size: 16px;
	height: 100%;
}

.inverse {
    background-color: #FFFFFF;
	color: #290029;
}